<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina Inicial</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-list routerLink="/novo/">
  <div>
    <ion-button>Novo</ion-button>
  </div>
</ion-list>

<ion-list routerLink="/entrada/">
<div>
  <ion-button>Entrada</ion-button>
</div>
</ion-list>

<ion-list routerLink="/saida/">
<div>
  <ion-button>Saída</ion-button>
</div>
</ion-list>

<ion-list routerLink="/produtos/">
<div>
  <ion-button>Produtos</ion-button>
</div>
</ion-list>
</ion-content>
